<div class="des">
    <h2>退選程序說明:</h2>
    <ol class="ui suffixed relaxed list">
        <li>必修課程請以在本班修課為原則，若遇特殊情況需要退選(ex.重補修衝堂)請檢附原任課老師同意之證明。</li>
        <li>欲退選同學請先下載選課申請書，依照填寫範本所示填妥資料後上傳，選課申請書為必繳資料。</li>
        <li>若有其他特殊情況(詳見備註)請檢附上課老師同意退選之證明，例如email截圖、line截圖等方式上傳系統。</li>
        <li>退選後若不足最低學分規定，請附上學生報告書。</li>
        <li>限上傳一次，系上/他系請寫在同一張即可，送出前請再三確認；如需修正，請聯繫系辦退件修改</li>
    </ol>
    <%- include('action',{id:"pullApply"}); -%>

</div>