<div class="ui   list">
    <div class="item downItems">
        <a class="Sample" target="_blank" name="sample.pdf" href="sample.pdf"><i
                class="download icon"></i></i>選課申請書範本</a>
        <a class="Sample" target="_blank" name="選課申請書修1100514.pdf" href="apply.pdf"><i
                class="download icon"></i></i>選課申請書</a>

        
            <div class=" right floated content"> <button class="ui button" id=<%=id %>>申請</button></div>
    </div>
</div>