<div class="des">

    <h2>加選程序說明:</h2>
    <ol class="ui suffixed list">
        <li>若欲加選的課程在學校選課系統中仍顯示有名額，請直接登入學校選課系統選課，不必填寫選課申請單。</li>
        <li>需人工加選的同學請先下載選課申請書，依照填寫範本所示填妥資料後上傳，選課申請書為必繳資料。</li>
        <li>若有其他特殊情況(詳見備註)請檢附上課老師同意加選之證明，例如email截圖、line截圖等方式上傳系統。</li>
        <li>若加選後學分超過修課上限規定，請附上學生報告書(若因重補修超過學分上限者不需另外檢附學生報告書)。</li>
        <li>限上傳一次，系上/他系請寫在同一張即可，送出前請再三確認；如需修正，請聯繫系辦退件修改</li>
    </ol>
    <%- include('action',{id:"pushApply"}); -%>
</div>