<div class="des">
    <h2>減修程序說明:</h2>
    <ol class="ui suffixed relaxed list">
        <li>僅限應屆畢業班同學申請(得申請減修1-2學分，若全學期校外實習者可申請減修3學分)。</li>
        <li>請先下載減修申請書，填妥後上傳時請務必附上減修申請表</li>
        <li>限上傳一次，，送出前請再三確認；如需修正，請聯繫系辦退件修改</li>
    </ol>
    <div class="ui list">
        <div class="item downItems">

            <a class="Sample" target="_blank" name="減修申請單.docx" href="remove" .docx"><i
                    class="download icon"></i></i>減修申請書</a>
            <div class="right floated content"> <button class="ui button" id="removeApply">申請</button> </div>
        </div>
    </div>
</div>