body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 30px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.des {
    line-height: 50px;
    font-size: 24px;
    margin-left: 90px;
    text-align: justify;
    text-justify: inter-ideograph;
}

p {
    font-size: 20px;
    line-height: 40px;
    padding-right: 25px;
    text-align: justify;
    text-justify: inter-ideograph;
}

.header img {
    width: calc( 95vw - 100px)
}

.field,
.ui.form .field>label {
    font-size: 18px !important;
}

.ui.button {
    box-shadow: 0.5px 0.5px 4px rgb(49, 42, 3);
}

.side {
    margin-top: 45px;
}

.loginBorder {
    border: 1px #2c1700 solid;
}

div.ui.grid.two.centered {
    background-image: url("/images/side.png");
}

input.searchInput {
    padding: 10px 0 !important;
}

#view {
    width: 900px
}

.actions {
    text-align: center !important;
}

.toCenter {
    text-align: right;
}

.form {
    width: 100%;
}

#login {
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.ui.grid.two.centered {
    margin-bottom: 25px;
}

div.ui.form {
    padding-top: 15px;
}

a.item {
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 21px;
}

a.item.active {
    border-bottom: 1px solid #fff;
    background: #fff;
}

#pushApply,
#pullApply {
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    width: 150px;
    letter-spacing: 5px;
    position: absolute;
    bottom: 20px;
    right: 90px;
}

#removeApply {
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    width: 150px;
    letter-spacing: 5px;
    position: absolute;
    bottom: 5px;
    right: 90px;
}

#remarkTextField {
    margin-bottom: 0;
}

#tt {
    width: calc(100vw - 150px) !important;
}

.modelField {
    margin-top: 10px;
}

.field p {
    margin: 0;
    text-align: center;
}

.studentF input {
    margin-top: 15px;
}

.manageThreeFields {
    align-items: baseline !important;
}

@media only screen and (max-width:767.98px) {
    #view {
        width: 100%;
    }
}

@media only screen and (min-width:768px) {
    #view {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    #view {
        width: 1020px;
    }
}

@media only screen and (min-width:1200px) {
    #view {
        width: 1080px;
    }
}

@media only screen and (min-width:1920px) {
    #view {
        width: 1140px;
    }
}