<div class="image content">
<div class="field">
    <label class="modelField"><span class="ui red text">*</span>減修申請書(必填)</label>
    <input type="file" id="removeA" class="modelField" />
</div></div>