<div class="image content">
<div class="field">
    <label class="modelField"><span class="ui red text">*</span>選課申請書(必填)</label>
    <input type="file" id="<%=type %>EA" class="modelField" />
</div>
<div class="field">
    <label class="modelField">學生報告書(超修或低修)</label>
    <input type="file" id="<%=type %>ER" class="modelField" />
</div>
<div class="field" id="<%= type %>ECField">
    <label class="modelField">任課老師核准證明(選填)</label>
    <button class="modelField addEC" name="<%= type %>">增加檔案</button>
</div></div>
